// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: $font-family;
  color: $font-color;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;*/
}

#header{
    overflow: auto;
    margin: 2rem auto 1.4rem;
    //max-width: 1440px;
    nav{
        &.desktopNav{
            text-transform: uppercase;
            max-width: 1440px;
            margin: 0 auto;
            @media (max-width: 664px){
                height: inherit;
            }
            ul{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    float: left;
                    width: 20%;
                    margin: 0;
                    letter-spacing: 0.08rem;
                    font-weight: 400;
                    @media (max-width: 664px){
                        width: 100%;
                        float: none;
                        text-align: center;
                    }
                    &::selection{
                        background: $white;
                    }
                    &:nth-child(2){
                        cursor: pointer;
                    }
                    &:nth-child(2), &:nth-child(3), &:nth-child(4){
                        text-align: center;
                        padding-top: 0.2rem;
                        @media (max-width: 664px){
                            display: none;
                        }
                    }
                    &:last-child{
                        text-align: right;
                        padding-top: 0.2rem;
                        @media (max-width: 664px){
                            text-align: center;
                            display: none;
                        }
                    }
                    &.categoryMenu{
                        color: $border-color;
                        span{
                            position: relative;
                            &:before{
                                content: '';
                                position: absolute;
                                top: 0.44rem;
                                right: -1.6rem;
                                background: url('/assets/img/plus.svg');
                                background-size: 10px 10px;
                                width: 10px;
                                height: 10px;
                                vertical-align: top;
                                display: inline-block;
                                //line-height: 1.5;
                                transition: transform 0.2s ease;
                                //font-size: 1.8rem;
                                transform: rotate(0);
                                &::selection{
                                    background: $white;
                                }
                            }
                        }
                        &.open{
                            span{
                                &:before{
                                    transform: rotate(45deg);
                                    transition: transform 0.2s ease;
                                    //font-size: 2rem;
                                }
                            }
                        }
                        /*position: relative;
                        &:after{
                            content: '+';
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 10px;

                        }*/
                    }
                    img{
                        height: 2.28rem;
                        width: auto;
                        @media (max-width: 920px){
                            height: 1.28rem;
                        }
                        @media (max-width: 664px){
                            height: 2.28rem;
                        }
                        @media (max-width: 464px){
                            height: 1.28rem;
                        }
                        &::selection{
                            background: $white;
                        }
                    }
                    a{
                        color: $border-color;
                        &::selection{
                            background: $white;
                        }
                    }
                    &:first-child{
                        a{
                            color: $primary-color;
                        }
                    }
                }
                &.fullMenu{
                    opacity: 0;
                    //visibility: hidden;
                    //transition: opacity 6s ease;
                    &.openMenu{
                        opacity: 1;
                        z-index: 999;
                        //visibility: visible;
                        position: fixed;
                        bottom: 0;
                        left: 3rem;
                        right: 3rem;
                        top: 6rem;
                        padding-top: 8%;
                        transition: opacity 0s;
                        /*@media (min-width: 1490px){
                            top: 6rem;
                        }*/
                        li{
                            font-size: 3rem;
                            line-height: 7rem;
                            width: 100%;
                            text-align: center;
                            transition: opacity 0.2s ease 1s;
                            &:first-child{
                                a{
                                    color: $border-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.mobileNav{
            display: none;
            z-index: 99999;
            @media (min-width: 665px){
                display: none;
            }
            ul{
                li{
                    list-style: none;
                    text-align: center;
                    a{
                        color: $border-color;
                    }
                }
                hr{
                    margin: 1.6rem 0;
                }
            }
            &.revealMobileMenu{
                display: block;
                position: absolute;
                left: 3rem;
                right: 3rem;
                background: $white;
                @media (min-width: 665px){
                    display: none;
                }
                ul{
                    margin-bottom: 3rem;
                }
            }
        }
    }
}

.openMobileMenu{
    position: absolute;
    top: 0;
    right: 3rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    span{
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        opacity: 1;
        left: 0;
        background: $primary-color;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        &:nth-child(1){
            top: 0.8rem;
            transform-origin: left center;
        }
        &:nth-child(2){
            top: 1.5rem;
            transform-origin: left center;
        }
    }
    &.cross{
        span{
            &:nth-child(1){
                transform: rotate(45deg);
                top: 0.3rem;
                left: 0;
            }
            &:nth-child(2){
                transform: rotate(-45deg);
                top: 1.72rem;
                left: 0;
            }
        }
    }
    @media (min-width: 665px){
        display: none;
    }
}

.swipebox-html{
    .fixHeader{
        #header{
            background: $white;
            @media (min-width: 1490px){
                left: 0;
                right: 0;
                background: $white;
            }
        }
    }
}

.landscapePage, .peoplePage, .portraitPage, .objectPage, .motionPage, .projectsPage {
    #header{
        position: fixed;
        z-index: 222;
        right: 3rem;
        height: 2.6rem;
        padding: 2rem 0 1.4rem;
        margin: 0 auto;
        left: 3rem;
        top: 0;
        background: $white;
        overflow: inherit;
        .openMobileMenu{
            top: 2rem;
            right: 0;
        }
        nav{
            &.mobileNav{
                &.revealMobileMenu{
                    left: 0;
                    right: 0;
                    padding-top: 2rem;
                }
            }
        }
    }
    #content{
        margin-top: 10rem;
    }
}

.fixHeader{
    #header{
        position: fixed;
        left: 3rem;
        right: 3rem;
        height: 100%;
        top: 0;
        margin: 0 auto;
        padding: 2rem 0;
        bottom: 0;
        background: rgba(255,255,255,0.92);
        z-index: 9999;
        transition: background 0.2s ease-in-out;
    }
    #content{
        margin-top: 11.2rem;
    }
}

.homePage{
    &.fixHeader{
        #content{
            margin-top: 11.2rem;
        }
    }
}

.peoplePage, .landscapePage, .motionPage, .objectPage, .portraitPage, .projectsPage{
    &.fixHeader{
        #content{
            margin-top: 10rem;
        }
    }
}

.contactPage{
    #content{
        margin-top: 6rem;
    }
    &.fixHeader{
        #content{
            margin-top: 15.8rem;
        }
    }
}

img{
    width: 100%;
}

ul.categoriesOverview{
    width: 100%;
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    li{
        &:first-child{
            width: 49%;
            margin: 0 auto;
            padding: 0 25.5%;
            @media (max-width: 664px){
                padding: 0;
                width: 100%;
            }
        }
        width: 23.5%;
        padding: 0 1%;
        float: left;
        @media (max-width: 664px){
            width: 100%;
            padding: 0;
        }
        ul.category{
            li{
                padding-left: 0;
                padding-right: 0;
                width: 100%;
            }
        }
        &:nth-child(2){
            padding-left: 0;
        }
        &:nth-child(5){
            padding-right: 0;
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            color: $border-color;
        }
        img{
            width: 100%;
        }
    }
    h3{
        font-size: 1.6rem;
        line-height: 4rem;
        padding-bottom: 0.4rem;
        letter-spacing: 0.02rem;
        margin: 0;
        @media (max-width: 664px){
            line-height: 3rem;
            padding-bottom: 1.4rem;
        }
    }
}

ul.categoryGrid{
    width: 75%;
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 0 12.5%;
    text-align: center;
    li{
        width: 31.5%;
        padding: 0 1.375% 1.5%;
        float: left;
        line-height: 0;
        &:nth-child(3n-5){
            padding-left: 0;
        }
        &:nth-child(3n-6){
            padding-right: 0;
        }
    }
}

.motionPage{
    ul.motionGrid{
        width: 100%;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        min-height: 80rem;
        text-align: center;
        max-width: 1440px;
        li{
            &.gridItem{
                position: relative;
                width: 100%;
                margin-bottom: 6rem;
                float: none;
                @media (max-width: 664px){
                    margin-bottom: 0;
                }
            }
        }
        @media (max-width: 664px){
            iframe{
                width: 300px;
            }
        }
    }
}

:root{
    hr{
        margin: 0.6rem 0;
    }
}

// Animate

.reveal{
    visibility: hidden;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

// Featured lightswitch module on homepage

.featured{
    margin: 2rem 0 0;
    h3{
        font-size: 1.6rem;
        line-height: 6rem;
        padding-bottom: 0.4rem;
        letter-spacing: 0.02rem;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        a{
            color: $border-color;
        }
    }
    .featuredDisplay{
        width: 100%;
        list-style: none;
        overflow: auto;
        margin: 0;
        padding: 0;
        text-align: center;
        li{
            width: 33.333%;
            margin: 0 auto 2rem;
            padding: 0 33.333%;
            @media (max-width: 664px){
                width: 66.666%;
                padding: 0;
            }
        }
    }
}

.grid{
    width: 80%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    min-height: 80rem;
    text-align: center;
    max-width: 1440px;
    @media (max-width: 664px){
        width: 100%;
    }
    li{
        width: 31.3333333%;
        padding: 0 1% 2%;
        float: left;
        line-height: 0;
        margin: 0;
        @media (max-width: 664px){
            width: 100%;
            padding: 0 0 2rem;
        }
    }
}

.catTitle{
    text-align: center;
    h1{
        font-size: 1.8rem;
        padding: 4rem 0 5rem;
        color: $dark-grey;
        letter-spacing: 0.08rem;
        font-weight: 400;
        text-transform: uppercase;
        @media (max-width: 664px){
            padding: 1rem 0 2rem;
        }
    }
}

// journal

.journalPost{
    margin-top: 0;
    margin-bottom: 4rem;
    border-bottom: 1px solid $border-color;
    padding-bottom: 7rem;
    @media (max-width: 664px){
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 3rem;
    }
    h2{
        font-size: 1.8rem;
        margin-bottom: 0;
        padding: 2rem 0 0;
        color: $dark-grey;
        letter-spacing: 0.08rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    h5{
        font-size: 1.2rem;
        padding: 0;
        color: $border-color;
        letter-spacing: 0.08rem;
        font-weight: 400;
        text-transform: uppercase;
    }
    img{
        @media (max-width: 664px){
            margin-bottom: 1.4rem;
        }
    }
}

// Contact

.contactDetails{
    margin-bottom: 6rem;
    line-height: 3rem;
    text-align: center;
    &:first-child{
        //margin-top: 6%;
    }
}

// Landing pages

.landingPage{
    text-align: center;
}

#footer{
    margin: 8rem 0 4rem;
    font-size: 1.1rem;
    color: $light-grey;
    text-align: center;
    a.footerLogo{
        img{
            width: 22rem;
            margin-bottom: 2rem;
        }
        &:hover, &:active{
            border-bottom: none;
        }
    }
    a, a:visited{
        color: $border-color;
        text-decoration: none;
        &:hover, &:active{
            text-decoration: none;
            border-bottom: 1px solid $border-color;
        }
    }
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: darken($link-color, 5%);
  }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $light-grey;
}
