{% extends "_layout" %}

{% block content %}

	{% if craft.request.lastSegment == 'motion' %}
		<div class="row">
			<div class="columns twelve catTitle">
				<h1>{{ entry.title }}</h1>
			</div>
		</div>
		<ul class="motionGrid">
			{% for block in entry.categoryGrid %}
				{% set images = block.gridImage.image|default('undefined') %}
				{% if images and images|length %}
					<li class="gridItem">
						{% for image in images %}
						<a href="{{ image.getUrl('scale') }}" class="swipebox" title="My Caption">
							<img src="{{ image.getUrl('scale') }}" title="{{ block.gridImage.imageTitle }}" alt="{{ block.gridImage.imageTitle }}">
						</a>
						{% endfor %}
						{# Video embed #}
						{% set video = block.gridImage.embedderVideo|default('undefined') %}
						{% if video %}
							{{ craft.embedder.embed (video, {max_width:600, max_height:900}) }}
						{% endif %}
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	{%  else %}
		<div class="row">
			<div class="columns twelve catTitle">
				<h1>{{ entry.title }}</h1>
			</div>
		</div>
		<ul class="grid">
			{% for block in entry.categoryGrid %}
				{% set images = block.gridImage.image|default('undefined') %}
				{% if images and images|length %}
					<li class="gridItem reveal fadeIn" data-wow-offset="0" data-wow-duration="0.6s">
						{% for image in images %}
						<a href="{{ image.getUrl('scale') }}" class="swipebox" title="My Caption">
							<img src="{{ image.getUrl('scale') }}" title="{{ block.gridImage.imageTitle }}" alt="{{ block.gridImage.imageTitle }}">
						</a>
						{% endfor %}
						{# Video embed #}
						{% set video = block.gridImage.embedderVideo|default('undefined') %}
						{% if video %}
							{{ craft.embedder.embed (video, {max_width:600, max_height:900}) }}
						{% endif %}
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}
