{% extends "_layout" %}

{% block content %}

    {% for block in entry.contacts %}
        <div class="row contactDetails">
            <div class="columns two">
                &nbsp;
            </div>
            <div class="columns eight reveal fadeIn" data-wow-offset="0" data-wow-duration="0.6s" data-wow-delay="0.1s">
                {{ block.contactTitle }}<br />
                Email: <a href="mailto:{{ block.email }}">{{ block.email }}</a><br />
                Phone: <a href="tel:{{ block.phone }}">{{ block.phone }}</a><br />
                <a href="{{ block.instagramLink }}" target="_blank" rel="noreferrer noopener">{{ block.instagram }}</a><br />
                <a href="{{ block.facebookLink }}" target="_blank" rel="noreferrer noopener">{{ block.facebook }}</a>
            </div>
            <div class="columns two">
                &nbsp;
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="columns two">
            &nbsp;
        </div>
        <div class="columns eight reveal fadeIn" data-wow-offset="0" data-wow-duration="0.6s" data-wow-delay="0.1s">
        {# Begin MailChimp Signup Form #}
            <div id="mc_embed_signup">
                <p>Subscribe to email updates</p>
                <form action="https://mattqueree.us13.list-manage.com/subscribe/post?u=81f89b53429f82fc42fb27cce&amp;id=c54a280b43" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                        </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-FNAME">First Name </label>
                            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-LNAME">Last Name </label>
                            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_81f89b53429f82fc42fb27cce_c54a280b43" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        {# End mc_embed_signup #}
        </div>
    </div>

{% endblock %}
