{% extends "_layout" %}

{% block content %}

    <div class="row">
        <div class="columns three">
            &nbsp;
        </div>

        <div class="columns six contract">

            {# Check if we should display our form or thank you message #}
            {% if craft.request.getParam('message') == 'thank-you' %}

                {# Display our thank you message #}
                <p>Thank you. I'll be in touch soon.</p>

            {% else %}

              <h2>{{ entry.contractTitle|nl2br }}</h2>

              {{ entry.body }}

              {# Display our Contact Form #}
              {{ craft.sproutForms.displayForm('licence') }}

            {% endif %}
        </div>

        <div class="columns three">
            &nbsp;
        </div>

{% endblock %}
