{% extends "_layout" %}

{% block content %}

    {% for entry in craft.entries.section('journal') %}
        <div class="row">
            <div class="columns three">
                &nbsp;
            </div>
            <div class="columns six journalPost">
                {% set images = entry.journalHeroImage %}
                {% if images and images|length %}
                    {% for image in images %}
                        <img src="{{ image.getUrl('scale') }}" title="{{ entry.journalHeroImageTitle }}" alt="{{ entry.journalHeroImageTitle }}" class="reveal fadeIn" data-wow-offset="0" data-wow-duration="0.6s">
                    {% endfor %}
                {% endif %}
                <h2>{{ entry.title }}</h2>
                <h5>{{ entry.postDate | date("M d, Y") }}</h5>
                {{ entry.body }}
    			{% for block in entry.journalGallery %}
    				{% set images = block.journalImage.image|default('undefined') %}
    				{% if images and images|length %}
						{% for image in images %}
							<img src="{{ image.getUrl('scale') }}" title="{{ block.journalImage.imageTitle }}" alt="{{ block.journalImage.imageTitle }}" class="reveal fadeIn" data-wow-offset="0" data-wow-duration="0.6s">
						{% endfor %}
    				{% endif %}
    			{% endfor %}
            </div>
            <div class="columns three">
                &nbsp;
            </div>
        </div>
    {% endfor %}

{% endblock %}
