<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>

	{% hook 'seomaticRender' %}

	<link rel="home" href="{{ siteUrl }}" />

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#222222">
	<meta name="theme-color" content="#ffffff">

    {% includeCssFile "/assets/styles/site.min.css?v=25" %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

	{% includeJsFile "/assets/js/main.min.js?v=2.24" %}

	<link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">

</head>

<body class="{{ entry is defined ? entry.title|lower : "errorPage" }}Page">
	<div id="container">
		<header id="header">
			<div class="openMobileMenu">
				<span></span>
				<span></span>
			</div>
			<nav class="desktopNav">
				<ul>
					<li><a href="{{ siteUrl }}"><img src="/assets/img/matt-queree.png" alt="Matt Quéréé" title="Matt Quéréé" /></a></li>
					<li class="categoryMenu">Categories <span></span></li>
					<li><a href="{{ url('journal') }}">Journal</a></li>
					<li><a href="{{ url('biography') }}">Biography</a></li>
					<li><a href="{{ url('contact') }}">Contact</a></li>
				</ul>
				<ul class="fullMenu">
					{% for entry in craft.entries.section('categories') %}
						<li>
							<a href="{{ entry.getUrl }}">{{ entry.title }}</a>
						</li>
					{% endfor %}
					{% set feat = craft.entries.section('home').first() %}
					{% if feat.featured %}
					<li><a href="{{ url('projects') }}">Projects</a></li>
					{% else %}
					{% endif %}
				</ul>
			</nav>
			<nav class="mobileNav">
				<ul>
					{% for entry in craft.entries.section('categories') %}
						<li>
							<a href="{{ entry.getUrl }}">{{ entry.title }}</a>
						</li>
					{% endfor %}
					{% if feat.featured %}
					<li><a href="{{ url('projects') }}">Projects</a></li>
					{% else %}
					{% endif %}
					<hr />
					<li><a href="{{ url('journal') }}">Journal</a></li>
					<li><a href="{{ url('biography') }}">Biography</a></li>
					<li><a href="{{ url('contact') }}">Contact</a></li>
				</ul>
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>

		<footer id="footer"class="reveal fadeInUp" data-wow-offset="-100" data-wow-duration="0.6s" data-wow-delay="1s">
			<a href="{{ siteUrl }}" class="footerLogo"><img src="/assets/img/matt-queree.png" alt="Matt Quéréé" title="Matt Quéréé" /></a><br />
			<a href="https://www.facebook.com/MattQuereePhotography" target="_blank" rel="noopener noreferrer">Facebook</a> &nbsp; | &nbsp; <a href="https://www.instagram.com/mattqueree/" target="_blank" target="_blank" rel="noopener noreferrer">Instagram</a><br />
			All content &copy; {{ now.year }} by Matt Queree.
		</footer>
	</div>
</body>
</html>
