{% extends "_layout" %}

{% block content %}

	<ul class="categoriesOverview">
		{% for entry in craft.entries.section('categories').order('RAND()') %}
		<li>
		    <a href="{{ entry.url }}">
				<ul class="category">
					{% set images = entry.categoryImage %}
					{% if images and images|length %}
						<li>
							{% for image in images %}
								<img src="{{ image.getUrl('scale') }}" title="{{ entry.categoryImageTitle }}" alt="{{ entry.categoryImageTitle }}" class="reveal fadeIn" data-wow-offset="0" data-wow-duration="0.6s">
							{% endfor %}
						</li>
						<h3>{{ entry.title }}</h3>
					{% endif %}
				</ul>
		    </a>
		</li>
		{% endfor %}
    </ul>

	{% if entry.featured %}
	<section class="featured">
    	<h3><a href="/projects">{{ entry.featuredTitle }}</a></h3>

		<ul class="featuredDisplay">
			{% for block in entry.categoryGrid %}
				{% set images = block.gridImage.image|default('undefined') %}
				{% if images and images|length %}
					<li>
						<a href="/projects">
							{% for image in images %}
								<img src="{{ image.getUrl('scale') }}" title="{{ block.gridImage.imageTitle }}" alt="{{ block.gridImage.imageTitle }}" class="reveal fadeIn" data-wow-offset="0" data-wow-duration="0.6s">
							{% endfor %}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</section>
	{% else %}

	{% endif %}

{% endblock %}
